<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réserver un vélo</title>
    {% if theme == "dark" %}
    <link rel="stylesheet" href="{{ dark_theme_url }}" />
    {% else %}
    <link rel="stylesheet" href="{{ light_theme_url }}" />
    {% endif %}
    {# link rel="./guest.css" #}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <style>
        #map { height: 600px; }
    </style>
</head>

<body>
    {% if logged_in %}
        {% include 'headers/logged.html' %}
    {% else %}
        {% include 'headers/guest.html' %}
    {% endif %}

    {% if theme == "dark" %}
        <button id="theme">Sombre</button>
    {% else %}
        <button id="theme">Clair</button>
    {% endif %}

    <h1>Découvrez {{max_number_stations}} des {{ donnee['total_count'] }} stations de velib à Paris</h1>

    <div id="map"></div>
    <div class="list">
        <ul>
            {% for station in donnee['results'] %}
                 <li>
                     <strong>Name:</strong> {{ station['name'] }}<br>
                     <strong>Capacity:</strong> {{ station['capacity'] }}<br>
                     <strong>Number of Docks Available:</strong> {{ station['numdocksavailable'] }}<br>
                     <strong>Number of Bikes Available:</strong> {{ station['numbikesavailable'] }}<br>
                     <strong>Mechanical:</strong> {{ station['mechanical'] }}<br>
                     <strong>Ebike:</strong> {{ station['ebike'] }}<br>
                     {% if logged_in %}
                     {% if station['favorite'] %}
                     <button onclick="removeFavoriteStation('{{ station['stationcode'] }}')">Enlever des favoris</button>
                     {% else %}
                     <button onclick="addFavoriteStation('{{ station['stationcode'] }}')">Ajouter aux favoris</button>
                     {% endif %}
                     {% endif %}
             {% endfor %}
         </ul>
    </div>
</body>

<script src="/static/JavaScript/map.js"></script>

<script> 
    let data_string = {{data_string}}
    let data = JSON.parse(data_string)
    map(data)
    {#console.log()#}
</script>

{% if logged_in %}
<script src={{ url_for("static", filename="Javascript/favorites_guest.js")}}></script>
{% endif %}
</html>