<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="mail">Adresse mail <span>*</span></label>
        <input type="text" id="mail" name="mail" />

        <label for="password">Mot de passe <span>*</span></label>
        <input type="text" id="password" name="password" />

        <button>Se connecter</button>

    </form>
    <a href="/signup">Inscrivez-vous</a>
</body>
</html>