<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if message %}
    <div class="success">
        <p id="success">{{message}}</p>
    </div>
    {% endif %}

    {% if error %}
    <div class="error">
        <p id="error">{{error}}</p>
    </div>
    {% endif %}

    <form method="POST">
        <label for="firstname">Prénom <span>*</span></label>
        <input type="text" id="firstname" name="firstname" />

        <label for="lastname">Nom</label>
        <input type="text" id="lastname" name="lastname" />

        <label for="mail">Adresse mail <span>*</span></label>
        <input type="text" id="mail" name="mail" />

        <label for="password">Mot de passe <span>*</span></label>
        <input type="text" id="password" name="password" />

        <button>S'inscrire</button>

    </form>
    <a href="/login">Connectez-vous</a>
</body>
</html>