<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Header</title>
    <link rel="stylesheet" href="/Alice/static/CSS/light.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Vuelib</a>
        <nav class="navbar">
            <a href="/guest">Home</a>
            <a href="/signup">Inscription</a>
            <a href="/login">Connexion</a>
        </nav>
    </header>
</body>

</html>